doctype html
html
  head
    title= 'ethereum'
    <!-- link(type="text/css", rel="stylesheet", href="/main.min.css") -->
    <!-- script(type="text/javascript", src="bundle.js") -->
  body
    iframe
